<div class="func-table">

    <div class="func-table__filters">
        <div class="func-table__column">
            <p class="func-table__item">Filters <i class="bi bi-filter-left"></i> </p>

            <div class="func-table__column-list">
                <p>Choose columns:</p>
                <ul>
                    <li *ngFor="let header of columns | keyvalue" class="form-check">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="columns[header.key]" [id]="header.key" [checked]="header.value"
                        (ngModelChange)="changedColumns(header.key, $event)">
                        <label class="form-check-label" [for]="header">{{header.key}}</label>
                    </li>
                </ul>
            </div>
        </div>

        <div class="func-table__search">
            <input type="text" class="form-control" [value]="search" placeholder="Search">
        </div>

        <div class="func-table__show">
            <label for="show">Show:</label>
            <select name="show" id="" class="form-select">
                <option *ngFor="let num of numbers" [value]="num">{{num}}</option>
            </select>
        </div>

        <div class="func-table__count">
            <p>{{rows.length}} results</p>
        </div>

        <div class="func-table__pagination">
            <nav>
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item active"><a class="page-link" href="#">1</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
        </div>
    </div>
    

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th *ngFor="let header of headers" [hidden]="!columns[header]">{{ header }} </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of rows">
                <td [hidden]="!columns['_id']">{{row._id}}</td>
                <td [hidden]="!columns['isActive']">{{row.isActive}}</td>
                <td [hidden]="!columns['balance']">{{row.balance}}</td>
                <td [hidden]="!columns['picture']"><img [src]="row.picture" alt=""></td>
                <td [hidden]="!columns['age']">{{row.age}}</td>
                <td [hidden]="!columns['name']">{{row.name?.first + ' ' + row.name?.last}}</td>
                <td [hidden]="!columns['company']">{{row.company}}</td>
                <td [hidden]="!columns['email']">{{row.email}}</td>
                <td [hidden]="!columns['address']">{{row.address}}</td>
                <td [hidden]="!columns['tags']">{{row.tags}}</td>
                <td [hidden]="!columns['favoriteFruit']">{{row.favoriteFruit}}</td>
                
            </tr>
        </tbody>
    </table>

</div>
